/* #4734e1, #8e27ea */
/* Start Left Panel Styles */

.upper-right-shape {
  position: absolute;
  background-image: url("images/yellow-path.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: -120px;
  right: 48%;
  width: 250px;
  height: 250px;
  z-index: 2;
}
/* .lower-right-shape {
  clip-path: url("images/yellow.svg");
  width: 150px;
  height: 70px;
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 20px;
} */
.left-panel {
  background-image: url("images/blue-background.png");
  height: 100vh;
  background-size: cover;
  color: #ffffff;
}
.left-panel .left-wrapper {
  padding: 60px 40px;
}
.left-panel .left-wrapper blockquote {
  margin-top: 20px;
}
.left-panel img {
  background-image: url("images/whiteee.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 250px;
}
.bottom-shape {
  position: absolute;
  bottom: 0;
  right: 0;
}
.middle-shape {
  background-image: url("images/manfull.png");
}

/* Start Right Panel Styles */
/* End Right Panel Styles */
.right-panel {
  height: 100vh;
}
.right-panel .normalize {
  height: 100vh;
  padding: 60px 20px;
}
.right-panel .normalize h2 {
  margin-bottom: 30px;
}
.right-panel .dropdown {
  margin-bottom: 20px;
}
.right-panel .form-control {
  margin-bottom: 20px;
  height: 50px;
  background-color: #efefef;
}
.right-panel .form-control .input-wrapper {
  display: inline-block;
  position: relative;
}
.input-wrapper:after {
  font-family: "FontAwesome";
  content: "\f073";
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 20px;
}
.right-panel .check-boxes span {
  display: block;
}
.check-boxes .form-check {
  display: inline-block;
  margin-right: 20px;
}
#inputState {
  height: 50px;
}
.btn {
  height: 50px;
  width: 200px;
  border-radius: 25px !important;
  background-image: linear-gradient(90deg, #4734e1, #8e27ea);
  color: #fff;
}

/* First-Progress Styles */
.wrapper {
  padding-top: 40px;
}
.wrapper p {
  margin: 30px 0px;
  font-size: larger;
  font-weight: 400;
}
.head-section {
  margin-bottom: 15px;
}
.head-section h1 {
  display: inline-block;
  width: 10%;
  margin-right: 18%;
}
.head-section .progress {
  width: 70%;
  display: inline-flex;
}
.progress .progress-bar {
  width: 15%;
}
.first-user-info {
  position: relative;
}
.choice {
  width: 100px;
  height: 50px;
  background-color: #efe4ef;
  display: inline-block;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
}
.first-input-wrapper-yes {
  display: inline-block;
  position: relative;
}
.first-input-wrapper-yes:after {
  font-family: "FontAwesome";
  content: "\f164";
  position: absolute;
  left: 20px;
  top: -20px;
  font-size: 20px;
  color: #fcea2b;
}
.first-input-wrapper-no {
  display: inline-block;
  position: relative;
}
.first-input-wrapper-no:after {
  font-family: "FontAwesome";
  content: "\f165";
  position: absolute;
  left: 20px;
  top: -20px;
  font-size: 20px;
  color: #fcea2b;
}
.first-input-wrapper-time {
  display: inline-block;
  position: relative;
}
.first-input-wrapper-time:after {
  font-family: "FontAwesome";
  content: "\f073";
  position: absolute;
  left: 20px;
  top: -20px;
  font-size: 20px;
  color: #dd0055;
}
.first-user-info .time-in-dubai {
  width: 185px;
}
.btn-group {
  margin-top: 40px;
}
.btn-group button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin-right: 50px;
}
.btn-group .btn-back {
  background-color: #ffffff;
  border: 1px solid #666;
}
.btn-group .btn-next {
  background-image: linear-gradient(90deg, #4734e1, #8e27ea);
}

/* second progress */
.second-choice {
  width: 194px;
  height: 50px;
  background-color: #efe4ef;
  display: inline-block;
  text-align: center;
  padding: 12px;
  border-radius: 25px;
  margin-right: 20px;
  margin-bottom: 15px;
}
.basic-info {
  background-color: #f3f3f3;
  border: 1px solid #444;
  padding: 10px;
}
.details span {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 25px;
}
